.mainTitle {
    font-size: 70px;
}

.wrapper {
    .selecTitle {
        margin: 20px 0;
    }

    .items {
        display: flex;
        gap: 50px;
    }

    .item {
        border: 5px solid var(--gray-text);
        margin-top: 20px;
        border-radius: 5px;
        width: 300px;
        height: 400px;
        position: relative;
        background-size: cover !important;

        &:first-child {
            background: url('/illu.png');
        }
        &:nth-child(2) {
            background: url('/website.jpg');
        }
        &:last-child {
            background: url('/apps.jpg');
        }

        &:hover .title { 
            color: var(--primary-color);
        }
    }

    .title {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 30px;
    }
}
