.link { 
    width: max-content;
}

.wrapper { 
    padding: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    width: max-content;
    color: var(--white-text);
    text-transform: capitalize;
    &:hover { 
        font-weight: 600;
    }

}