// .wrapper {
//     max-width: 1366px;
//     min-height: 100vh;
//     margin: 0 auto;
//     padding: 0 60px;
// }

.wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;

    .logout {
        padding: 5px;
        border: none;
        background-color: #53c28b;
        color: var(--white-text);
        cursor: pointer;
        border-radius: 3px;
    }

}
